 <h1 align="center">Get started with ChatMe Messages</h1>

		<h4 class="ui center aligned medium icon header">

		  <i class="circular blue envelope open icon"></i>
		  ChatMe Here!
		</h4>

<h1 align="center">Start a conversation with one of your contacts</h1>
</br>

		<div class="ui two column grid">
			
		<div class="twelve wide column">
       
       <div class="ui fluid raised card chatbox">
	          <div class="content" id="messages">

		<div class="ui feed" id="message-container">
		  <!-- <h3 class="ui header">Followers  Activity : </h3> -->
		<%= render @messages %>


		</div>

		</div>


	<div class="extra content">

 <%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path, remote: true) do |f| %>
				
	
	<div class="field">

	<div class="ui fluid icon input">

		<%= f.text_field :body   %>

 <%= f.button '<i class="bordered inverted orange edit icon"></i>'.html_safe  %>

	
	</div>
	</div>


	<% end %>


	</div>
	</div>
	</div>


			<div class="four wide column">

				<div class="ui fluid raised card chatbox">
		          <div class="content">

			<div class="ui inverted vertical pointing menu">
			 <!--  <a class="item">
			    Home
			  </a> -->
			  <%= link_to "HOME", root_path, class: "item" %>
			<!--   <a class="item">
			    Messages
			  </a> -->
			  <%= link_to "LOG IN", login_path, class: "item" %>
			  <!-- <a class="item">
			    Friends
			  </a> -->
			  <%= link_to "LOG OUT", logout_path, method: :delete, class: "item" %>
			</div>

			</div>

			</div>
		</div>
		</div>

